<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Cho phép Aether hiển thị overlay trên ứng dụng khác -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:label="Aether Client 3.0"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Aether main app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <!-- Aether overlay service -->
        <service
            android:name=".OverlayService"
            android:exported="false" />

    </application>

</manifest>
