<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Cho phép Aether kiểm tra Minecraft -->
    <queries>
        <package android:name="com.mojang.minecraftpe" />
    </queries>

    <!-- Quyền hiển thị overlay -->
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:label="Aether Client 3.0"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Aether Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Aether Overlay -->
        <service
            android:name=".OverlayService"
            android:exported="false" />

    </application>

</manifest>
